<%= form_for [topic, post] do |f| %>
  <% if post.errors.any? %>
    <div class= "alert alert-danger">
      <h4> There are <%= pluralize(post.errors.count, "error") %>.</h4>
      <ul>
        <% post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= simple_form_for [topic, post] do |f|  %>
    <%=f.input :title, label: 'Enter post title', input_html: {minlength: 5}, class: 'form-control' %>
    <%=f.input :body, label: 'Enter post body', input_html: {minlength: 20}, class: 'form-control' %>
    <%=f.button :submit, class: 'btn btn-success' %>
  <% end %>
<% end %>